/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: var(--vp-c-indigo-1);
    --vp-c-brand-2: var(--vp-c-indigo-2);
    --vp-c-brand-3: var(--vp-c-indigo-3);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);

    --vp-c-tip-1: var(--vp-c-brand-1);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-3);
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-warning-1: var(--vp-c-yellow-1);
    --vp-c-warning-2: var(--vp-c-yellow-2);
    --vp-c-warning-3: var(--vp-c-yellow-3);
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: var(--vp-c-red-1);
    --vp-c-danger-2: var(--vp-c-red-2);
    --vp-c-danger-3: var(--vp-c-red-3);
    --vp-c-danger-soft: var(--vp-c-red-soft);

    --vp-paragraph-gap: 23px;
    --vp-code-line-height: 1.5;
    --vp-code-color: #E1E4E8;
    --vp-c-divider: #595962;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-3);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
            #bd34fe 30%,
            #41d1ff);

    --vp-home-hero-image-background-image: linear-gradient(-45deg,
            #bd34fe 50%,
            #47caff 50%);
    --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
    --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


.dark {
    --vp-c-gutter: #070707;
}



.vp-doc figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;

    img[fullwidth] {
        width: 100%;
    }
    figcaption {
        font-size: 15px;
        font-style: italic;
        margin-top: 0.5em;
    }
}

.vp-doc span.inline-code-highlight {

    &.inline-block {
        display: inline-block;
    }

    code {
        border-radius: 4px;
        padding: 1px 2px;
        white-space: normal;
        font-size: var(--vp-code-font-size);
    }
}

.vp-doc div[class*="language-"], .vp-doc span.inline-code-highlight > code {
    border: 1px solid var(--vp-code-bg);
}

.vp-doc div[class*="language-"] pre {
    padding: 12px 0;

    code {
        padding-left: 12px;
        padding-right: 0px; /*done in the line, to not add unnecessary padding for word wrapped comments*/
        width: auto;

        span.line {
            padding-right: 12px;

            /* I have no idea how it works, but it does */
            display: inline-flex;

        }

        /* Wrap comments in code blocks */
        span.comment {
            white-space: pre-wrap;

            display: inline-flex;

            .comment-start {
                white-space: pre;
            }
        }
    }
}
.vp-doc div[class*="language-"] {
    margin-left: -5px;
    margin-right: -5px;
}

.vp-doc h1 {
    text-align: center;
    letter-spacing: normal;
}

body, .vp-doc p {
    line-height: 23px;
}

.vp-doc {
    p, div[class*="language-"], ul, ol, figure {
        margin-top: var(--vp-paragraph-gap);
        margin-bottom: var(--vp-paragraph-gap);
    }

    ul, ol {
        padding-left: 2.5rem;
    }

    li::marker {
        padding-right: 1rem;
    }

    sup {
        position: relative;
        top: -2px;
    }

    .highlight-blue {
        color: rgb(60, 120, 216);
    }

    hr {
        margin-top: 48px;
        margin-bottom: 44px;
    }

    strong, b {
        font-weight: 800;
    }

    ol[type="a"] {
        list-style-type: lower-alpha;
    }
    ol[type="a_upper"] {
        list-style-type: upper-alpha;
    }

}

@media (max-width: 640px) {
    .vp-doc h1 br {
        display: none;
    }
}


@media (min-width: 960px) {
    #VPContent > div.VPDoc > div.container {
        width: fit-content;
        max-width: unset;
    }
    body {
        background-color: var(--vp-sidebar-bg-color);
    }
}

@media (min-width: 960px) {
    #VPContent > div.VPDoc > div.container {
        width: fit-content;
        max-width: unset;
    }
}

@media (min-width: 1280px) {
    #VPContent > div.VPDoc > div.container {
        width: 100%;
        max-width: 1104px;
    }

    .VPDoc:not(.has-sidebar) > div.container > .content {
        max-width: 784px !important;
        padding-left: 0;
        /*> .content-container {
            margin-left: 0;
        }*/
    }
}


#VPContent > div.VPDoc {
    padding-top: 0;
    > div.container {
        padding-top: 32px;
        background-color: var(--vp-c-bg);
    }
}

@media (min-width: 768px) {
    #VPContent > div.VPDoc > div.container {
        padding-top: 48px;
    }
}

button.copy[title="Copy Code"] {
    display: none;
}

#doc-outline-aria-label {
    display: none;
}

.VPDocAside .outline-marker {
    margin-top: -32px;
    display: none;
}

.VPDocAside .outline-link.active:not(:hover) {
    color: var(--vp-c-text-2);
}

.VPDocAside .outline-link {
    white-space: normal;
    line-height: 1.35;
    padding: 0.41rem 0;
}

.vp-doc h1 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: normal;
}

.vp-doc h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: normal;
}

.vp-doc h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: normal;
}

/* Mobile devices */
@media (max-width: 640px) {
    .vp-doc h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .vp-doc h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .vp-doc h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .vp-doc {
        ul, ol {
            padding-left: 2rem;
        }

        code .indent.indent-start {
            letter-spacing: -0.5ch;
        }
    }

    body {
        font-size: 15px;
        line-height: 21px;
    }

    :root {
        --vp-paragraph-gap: 21px;
    }
}

.VPHome .VPHomeFeatures {
    article img.VPImage {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
    }
    .items {
        justify-content: center;
    }
}

.VPHome .VPHomeFeatures .item.grid-6 {
    width: calc(100% / 1);
    max-width: 500px;
}
@media (min-width: 850px) {
    .VPHome .VPHomeFeatures .item.grid-6 {
        width: calc(100% / 2);
    }
}

@media (min-width: 1280px) {
    .VPHome .VPHomeFeatures .item.grid-6 {
        width: calc(100% / 3);
    }
}

.vpi-social-github {
    background-color: #D5D5D5 !important;
}

.vpi-social-twitter {
    background-color: #46B0F2 !important;
}

.vpi-social-youtube {
    mask: unset !important;
    -webkit-mask: unset !important;
    background-image: url("/youtube.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important;
}
